[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/zhivko/ESPAsyncWebServer.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/esp32-I2Cbus"]
	path = components/esp32-I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git 
[submodule "components/arduinoWebSockets"]
	path = components/arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets.git 
[submodule "components/Adafruit_SSD1306"]
	path = components/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git 
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "components/Adafruit_VL53L0X"]
	path = components/Adafruit_VL53L0X
	url = https://github.com/adafruit/Adafruit_VL53L0X.git
